*{
  text-align: center;
  font-family: helvetica;
}

body{
  background: #4CB6B1;
}

h1{
  font-size: 50px;
  color: #E3F426;
}

input{
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button{
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FF0000;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
